parameters:
	ignoreErrors:
		-
			message: "#^Method CosmosDbExtractor\\\\Configuration\\\\Config\\:\\:getQuery\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Configuration/Config.php

		-
			message: "#^Method CosmosDbExtractor\\\\Configuration\\\\Config\\:\\:isIncremental\\(\\) should return bool but returns mixed\\.$#"
			count: 1
			path: src/Configuration/Config.php
