parameters:
    ignoreErrors:
        - '#Cannot call method .* React\\Stream\\ReadableStreamInterface\|.*#'
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - identifier: missingType.iterableValue
includes:
	- phpstan-baseline.neon
