parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#expects React\\Stream\\ReadableStreamInterface, React\\Stream\\ReadableStreamInterface\|.*#'
        - '#Cannot call method .* React\\Stream\\ReadableStreamInterface\|.*#'
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
